xterm*faceName: Consolas:pixelsize=12
!xterm*faceName: Terminus (TTF):pixelsize=16
!xterm*faceName: monospace:pixelsize=16

xterm*utf8: 2
xterm*locale: true

xterm*background: black
xterm*foreground: lightgray
