[Desktop Entry]
Type=Application
Version=1.0
Name=Handy
Comment=Handystartup script
Exec=/home/sepi4/Downloads/Handy_amd64.AppImage 
StartupNotify=false
Terminal=false